html {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-weight: bold;
    text-transform: uppercase;
}

body,
main {
    min-height: 100vh;
}

/* LOCAL ELEMENTS */
footer {
    position: absolute;
    inset: 0;
    top: auto;
    width: 100%;
    padding: 0 32px 32px 32px;
    overflow: hidden;
}

footer .content {
    display: flex;
    align-content: center;
    justify-content: center;
}

footer #mask {
    background-color: #D9B68B; /* #D90416 */
    height: 100%;
    width: 100%;
    position: absolute;
    inset: 0;
    z-index: -1;
    border-radius: 100% 100% 0 0;
    top: 64px;
}

.maxIcon {
    font-size: 50px;
    height: 120px;
    width: 120px;
    border-radius: 60px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 16px;
    transition: transform 200ms ease;
}

footer .maxIcon:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.rock {
    background-color: #D90416;
}

.paper {
    background-color: #038C7F;
}

.scissors {
    background-color: #F28705;
}

#chicken {
    background-color: rgba(50,50,50,.5);
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#hackermanHand {
    position: absolute;
    bottom: -20px;
    width: 100%;
    display: flex;
    justify-content: center;
    transform: rotate(180deg);
}

#message div {
    padding-top: 24px;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 300;
    animation-duration: 1s;
    animation-name: enter;
    animation-fill-mode: backwards;
}

@keyframes enter {
    0% { top: 0; transform: scale(1);}
    100% { top: 100px; transform: scale(1.5);}
}

#endGame {
    position: fixed;
    inset: 0;
    background-color: white;
}