body {
    font-family: 'Roboto', sans-serif;
}

.ricacomida,
.logo{
    font-family: 'Lobster', cursive;
}

.logo {
    font-size: 32px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

hr {
    height: 4px!important;
}

.dbclick-red {
    cursor: pointer;
}

.dbclick-red.red {
    color: #dc3545!important;
}

.dbclick-red::selection {
    background: transparent;
}

.title {
    font-size: 32px;
}

.card .card-body .card-title {
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .title {
        font-size: 40px;
    }
}

/* BOOTSTRAP EXTENDS */
.tooltip .tooltip-inner{
    max-width: 100%;
}

.carousel-indicators {
    bottom: -20px;
}

.carousel-indicators button {
    height: 20px!important;
    width: 20px!important;
    border-radius: 10px!important;
    border: 0!important;
    background-color: grey!important;
}

.carousel-indicators .active {
    background-color: #1a1e21!important;
}