/* GLOBAL */
hr {
    height: 1px;
}

h1 {
    font-family: 'Oswald', sans-serif;
}

/* NAVBAR */
nav {
    background-color: #660066;
}

.navbar-brand {
    font-size: 40px;
    font-family: 'Oswald', sans-serif;;
    font-weight: bold;
}

/* HERO SECTION */
#hero-section {
    height: 100vh;
    background-image: url('../img/bg_hero.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

#hero-section > div {
    position: absolute;
    bottom: 40px;
    width: 100%;
}

#hero-section > div > hr {
    width: 200px;
}

#hero-section > div > h1 {
    font-size: 40px;
}

#hero-section > div > h1:first-child {
    font-weight: 200;
}

#hero-section > div > h1:last-child {
    font-weight: 900;
}

@media screen and (min-width: 576px) {
    #hero-section > div > h1 {
        font-size: 70px;
    }

    #hero-section > div > hr {
        width: 350px;
    }
}

/* SOBRE MI */
#sobre-mi {
    font-family: 'Open Sans', sans-serif;;
    color: #373A3C;
    line-height: 3;
}

#sobre-mi hr {
    width: 115px;
}

#sobre-mi h4 {
    font-weight: 600;
}

/* MI EXPERIENCIA */
#mi-experiencia hr {
    width: 150px;
    height: 1px;
    background: black;
}

#mi-experiencia i {
    color: #660066;
}

#mi-experiencia div:last-child article h4:first-child {
    font-family: 'Oswald', sans-serif;;
}

#mi-experiencia div:last-child article h4:last-child {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/* ÚLTIMOS TRABAJOS */
#ultimos-trabajos {
    background-color: #660066;
}

#ultimos-trabajos hr {
    width: 110px;
}

#ultimos-trabajos h1 {
    font-size: 52px;
    font-weight: bold;
}

/* CONTACTO */
#contacto hr {
     width: 150px;
}

#contacto iframe {
    margin-top: -4px;
}

/* FOOTER */
#footer {
    background-color: #660066;
}